:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== DISPOSICION GENERAL ===== */
.layout {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* ===== H1 GENERAL ===== */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ===== BUTTON GENERAL ===== */
button {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e4e2e2;
  border-color: #e4e2e2;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #47B7D7;
}

/* ===== HEADER GENERAL ===== */
header {
  background-color: #4770D7;
  color: #ffffff;
}

/* ===== MAIN GENERAL ===== */
main {
  padding: 10px 30px 10px 30px;
}

/* ===== FOOTER GENERAL ===== */
footer {
  width: 100%;
  background-color: #f1f5f9;
}

/* ===== FIELDSET GENERAL ===== */
fieldset {
  border: 2px solid;
  padding: 25px;
}

legend {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

/* ===== LABEL GENERAL ===== */
label {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

/* ===== INPUT, SELECT GENERAL ===== */
input {
  width: 40%;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
  background-color: #ffffff;
}
select {
  width: 250px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
  background-color: #ffffff;
  position: relative;
}
select,
::picker(select) {
  box-sizing: border-box;
}
option {
  font-size: 14px;
  padding: 12px;
}
input:focus, 
select:focus {
  outline: none;
  border-color: #47B7D7;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
