.buttons-container {
    display: flex;
    gap: 10px;
}

.generator:hover,
.download-button:hover {
    background-color: var(--color-green);
}

textarea {
    width: 99%;
    height: 500px;
    border: 2px solid;
    resize: none;
    margin: 20px 0 10px 0;
}
#output {
    height: 400px;
}